service: JenkinTest

plugins:
  - serverless-python-requirements
custom:
  pythonRequirements:
    dockerizePip: true

package:
   exclude:
     - node_modules/**
     - .gitignore
     - README.md
     - requirements.txt
     - build.sh

provider:
  name: aws
  runtime: python3.6
  region: ap-northeast-1
  role: arn:aws:iam::334109173481:role/service-role/test
  timeout: 15 # optional, in seconds, default is 6
  memorySize: 256

functions:
  JenkinTest:
    handler: JenkinTest.lambdaHandler
    events:
      - sns: JenkinTest-${self:provider.stage}-JenkinTest


